<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
    
<div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">HOME</a>

        </li>
      </ul>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/cates" >Category</a>

        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/products">Products</a>

        </li>

      </ul>
    </div>
  </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    
   <p class="navbar-text float-right">
<% if current_user %>
  Logged in as <strong><%= current_user.email %></strong>.

  <%= link_to "Logout", logout_path, :class => 'navbar-link'  %>
 
<% else %>
  <%= link_to "Login", login_path, :class => 'navbar-link'  %>
<% end %>
</p>   

</nav>